/* Article Edit Page Styles */
.article-edit-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
}

.article-edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-edit-form label {
    font-weight: bold;
}

.article-edit-form input[type="text"],
.article-edit-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.article-edit-form .form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.back-button {
    padding: 10px 20px;
    background-color: #f53e30;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 40px;
}

.save-button:hover {
    background-color: #2d7e30;
}

.back-button:hover {
    background-color: #d32f2f;
}

.tag {
    margin-right: 5px;
    background: #f0f0f0; 
    padding: 2px 6px; 
    border-radius: 4px; 
    display: inline-block; 
    text-align: left;
}

.tags-section {
    display: block; 
}

.tags-area {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
}

.tags-container {
    margin-bottom: 10px;
    margin-top: 6px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}

.add-tag-btn {
    margin-left: auto; 
    padding: 5px 20px;
    background-color: #1782c4;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 20px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 236, 236);
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
}

#addButton {
    padding: 5px 28px;
    background-color: #4c66af;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

#cancelButton {
    padding: 5px 18px;
    background-color: #6c757d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}